#footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 50px 0px 0px 0px;
}

#footerPara {
  display: flex;
  margin: auto;
  font-size: larger;
  color: var(--Text-color);
  font-weight: 900;
  text-shadow: var(--Custom-text-shadow);
}

.socialImages {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0px 0px 9px;
  width: 2%;
  justify-content: center;
}

#socialContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 1200px) {
  .socialImages {
    width: 3%;
  }
}
@media only screen and (max-width: 600px) {
  .socialImages {
    width: 5%;
  }
}
