#footerContainer {
  display: flex;
  border-style: solid;
  justify-content: center;
  border-color: black;
}

#footerPara {
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  font-size: larger;
  color: white;
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 rgba(0, 0, 0, 0.24),
    0.005em 0.005em 0 rgba(0, 0, 0, 10%), 0.01em 0.01em 0 rgba(0, 0, 0, 12%),
    0.015em 0.015em rgba(0, 0, 0, 14%), 0.02em 0.02em 0 rgba(0, 0, 0, 16%),
    0.025em 0.025em 0 rgba(0, 0, 0, 18%), 0.03em 0.03em 0 rgba(0, 0, 0, 40%),
    0.035em 0.035em 0 rgba(0, 0, 0, 12%);
}
