.spinnerDiv {
  width: 25%;
  margin: 30px auto auto auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  animation: spinningWheel 0.5s infinite;
  stroke: var(--Text-color);
  stroke-width: 8px;
}

@keyframes spinningWheel {
  0% {
    transform: rotate(0deg);
    filter: var(--zero-svg-filter-neon);
  }
  100% {
    transform: rotate(360deg);
    filter: var(--hundred-svg-filter-neon);
  }
}
