#loginPageTitle {
  font-family: Assistant, sans-serif;
  color: var(--Text-color);
  font-size: 2em;
  font-weight: 900;
  text-shadow: var(--Custom-text-shadow);
}

#loginContainer {
  width: 25%;
  margin: 90px auto auto auto;
}

#loginInput {
  margin-top: 10%;
  border: none;
  background: 0 0;
  box-shadow: 0 2px 0 0 var(--Text-color);
  /* width: 91%; */
  color: var(--Text-color);
  font-size: 1em;
  outline: none;
}

#loginButton {
  font-weight: 900;
  background: 0 0;
  color: var(--Text-color);
  box-shadow: 0 0 0 2px var(--Text-color);
  /* --neon-border-color: rgba(0, 0, 0, 0.255); */
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}

.loginSection {
  font-family: Assistant, sans-serif;
  display: grid;
  border-radius: 8px;
  padding: 80px;
  background: var(--darkRed-background-color-boxes);
  margin: auto;
  color: var(--Text-color);
  justify-content: center;
  border-style: solid;
  animation: var(--title-card-animation);
  --neon-border-color: var(--neon-border-color-brightRed);
  border: 0.1rem solid --Text-color;
  box-shadow: var(--Red-box-shadow);
}

@media (max-width: 1400px) {
  #loginContainer {
    width: 75%;
    margin: 90px auto auto auto;
  }
}
