#newUserMainInfoContainer {
  display: flex;
  justify-content: center;
  padding: 100px;
}

#imgUpload {
  border-style: solid;
}

#newUserForm {
  border-style: solid;
  font-family: Assistant, sans-serif;
  display: grid;
  border-radius: 8px;
  padding: 50px;
  width: 27%;
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(255, 53, 53, 1) 100%
  );
  color: #fff;
  justify-content: center;
  border-style: solid;
  border-color: black;
  animation: flicker 1.5s infinite alternate;
  --neon-border-color: rgb(255, 0, 0);
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #fe1313,
    0 0 0.8rem #fe1313, 0 0 2.8rem #fe1313, inset 0 0 1.3rem #fe1313;
}

#newUserRideInformation {
  display: flex;
  /* border-style: solid; */
  justify-content: center;
  margin: auto;
  padding: 100px;
}

input {
  margin-left: 5px;
  margin-right: 20px;
  border: none;
  background: 0 0;
  box-shadow: 1px 1px #fff;
  color: white;
}

.rideFormDiv {
  display: flex;
  margin-top: 10px;
}
.rideFormImgDiv {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#newUserRideForm {
  width: 42%;
  margin: 5px;
  border-style: solid;
  font-family: Assistant, sans-serif;
  display: flex;
  border-radius: 8px;
  padding: 50px;
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(255, 53, 53, 1) 100%
  );
  color: #fff;
  justify-content: center;
  border-style: solid;
  border-color: black;
  animation: flicker 1.5s infinite alternate;
  --neon-border-color: rgb(255, 0, 0);
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #fe1313,
    0 0 0.8rem #fe1313, 0 0 2.8rem #fe1313, inset 0 0 1.3rem #fe1313;
}

@media (min-width: 1400px) {
  #newUserForm {
    width: 30%;
  }
}
@media (max-width: 1300px) {
  #newUserForm {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  #newUserForm {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  #newUserForm {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  #newUserForm {
    width: 40%;
  }
}
@media (max-width: 900px) {
  #newUserForm {
    width: 50%;
  }
}
@media (max-width: 800px) {
  #newUserForm {
    width: 100%;
  }
}
