body {
  background-color: black;
}

#rideImage {
  width: 70%;
  display: flex;
  margin: auto;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  border-color: brown;
  border-width: 5px;
  border-style: solid;
}

#mainFlexContainer {
  display: flex;
  border-color: brown;
  border-width: 5px;
  border-style: solid;
  width: 70%;
  margin: auto;
  margin-top: 5px;
}

#profileImage {
  border-radius: 60%;
  width: 20%;
  border-color: brown;
  border-width: 5px;
  border-style: solid;
  margin: auto;
}

#rideMainInfo {
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

#mainProfileInfo {
  border-color: brown;
  border-width: 5px;
  border-style: solid;
  width: 70%;
  margin: auto;
  font-weight: bold;
  padding-left: 1em;
  color: rgb(87, 87, 87);
  text-shadow: 100px;
}

#extraProfileInfo {
  border-color: brown;
  border-width: 5px;
  border-style: solid;
  width: 70%;
  margin: auto;
  margin-top: 5px;
}
