section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

p {
  color: antiquewhite;
  font-size: 130%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

#columnOne {
  margin: 10px;
  border: 2px solid yellow;
  justify-content: space-between;
  width: 25%;
  background-color: black;
}
