:root {
  /* Default RideFile */

  --Text-color: rgb(255, 255, 255);
  --SubText-color: rgb(163, 163, 163);
  --Custom-text-shadow: -0.0075em 0.0075em 0 rgba(0, 0, 0, 0.24),
    0.005em 0.005em 0 rgba(0, 0, 0, 10%), 0.01em 0.01em 0 rgba(0, 0, 0, 12%),
    0.015em 0.015em rgba(0, 0, 0, 14%), 0.02em 0.02em 0 rgba(0, 0, 0, 16%),
    0.025em 0.025em 0 rgba(0, 0, 0, 18%), 0.03em 0.03em 0 rgba(0, 0, 0, 40%),
    0.035em 0.035em 0 rgba(0, 0, 0, 12%);
  --Red-box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #fe1313,
    0 0 0.8rem #fe1313, 0 0 2.8rem #fe1313, inset 0 0 1.3rem #fe1313;
  --Black-box-shadow: 0 0 1.2rem rgb(0, 0, 0), 0 0 0.2rem rgb(0, 0, 0),
    0 0 2rem #0d0d0d, 0 0 0.8rem #040404, 0 0 2.8rem #000000;
  --RideImage-box-shadow: 0 0 1.2rem rgb(255, 255, 255),
    0 0 0.2rem rgb(255, 0, 0), 0 0 3rem #ff5e00, 0 0 0.8rem #fe1313,
    0 0 2.8rem #ff0000, inset 0 0 1.3rem #fe1313;
  /* --Red-background-color: linear-gradient(to bottom, #ffffff 0%, #fb1818 86%); */
  --Red-background-color: url("https://w.wallha.com/ws/11/56tXTAlV.jpg");
  --Black-background-color: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.763) 100%
  );
  --darkRed-background-color-boxes: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(255, 53, 53, 1) 100%
  );
  --title-svg-one-stroke: rgb(237, 122, 0);
  --title-svg-two-stroke: rgb(0, 255, 251);
  --title-svg-three-stroke: rgb(21, 255, 0);
  --neon-border-color-color: rgba(255, 0, 0, 0.527);
  --neon-border-color-brightRed: rgb(255, 0, 0);
  --title-card-animation: flicker 10000s infinite alternate;
  --zero-svg-filter-neon: drop-shadow(0px 0px 1px rgb(255, 255, 255))
    drop-shadow(0px 0px 3px rgb(255, 255, 255))
    drop-shadow(0px 0px 10px #ffffff);
  --hundred-svg-filter-neon: drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 6px #fff);
  --menu-tab-sticks: #000000;
  --menu-tab-options-color: #ff0000;
}

[data-theme="80s"] {
  /* 80s */
  /* --Purple-box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; */
  --Text-color: rgb(43, 209, 252);
  --SubText-color: rgb(163, 163, 163);
  --Custom-text-shadow: -0.0075em 0.0075em 0 rgba(0, 0, 0, 0.24),
    0.005em 0.005em 0 rgba(0, 0, 0, 10%), 0.01em 0.01em 0 rgba(0, 0, 0, 12%),
    0.015em 0.015em rgba(0, 0, 0, 14%), 0.02em 0.02em 0 rgba(0, 0, 0, 16%),
    0.025em 0.025em 0 rgba(0, 0, 0, 18%), 0.03em 0.03em 0 rgba(0, 0, 0, 40%),
    0.035em 0.035em 0 rgba(0, 0, 0, 12%);
  --Red-box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff,
    0 0 2rem rgb(221, 0, 255), 0 0 0.8rem rgb(221, 0, 255),
    0 0 2.8rem rgb(221, 0, 255), inset 0 0 1.3rem rgb(221, 0, 255);
  --Black-box-shadow: 0 0 1.2rem rgb(192, 77, 249), 0 0 0.2rem rgb(0, 0, 0),
    0 0 2rem rgba(192, 77, 249), 0 0 0.8rem rgba(192, 77, 249),
    0 0 2.8rem rgba(192, 77, 249);
  --RideImage-box-shadow: 0 0 1.2rem rgb(255, 255, 255),
    0 0 0.2rem rgb(255, 0, 221), 0 0 3rem rgb(255, 0, 221),
    0 0 0.8rem rgb(255, 0, 221), 0 0 2.8rem rgb(255, 0, 221),
    inset 0 0 1.3rem rgb(255, 0, 221);
  /* --Red-background-color: linear-gradient(to bottom, #ffffff 0%, #0004ff 86%); */
  --Red-background-color: url("https://cutewallpaper.org/21/aesthetic-background-gif/6-wallpaper-Best-of-Pastel-Aesthetic-Background-Gif-indias-.gif");
  --Black-background-color: linear-gradient(90deg, #270245, #000000);
  --darkRed-background-color-boxes: none;
  --title-svg-one-stroke: rgb(255, 0, 221);
  --title-svg-two-stroke: rgb(255, 0, 221);
  --title-svg-three-stroke: rgb(255, 0, 221);
  --neon-border-color-color: rgba(43, 209, 252, 0.527);
  --neon-border-color-brightRed: rgb(255, 0, 221);
  --title-card-animation: flicker 10000s infinite alternate;
  --zero-svg-filter-neon: drop-shadow(0px 0px 1px rgb(255, 255, 255))
    drop-shadow(0px 0px 3px rgb(255, 255, 255))
    drop-shadow(0px 0px 10px #ffffff);
  --hundred-svg-filter-neon: drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 6px #fff);
  --menu-tab-sticks: rgb(221, 0, 255);
  --menu-tab-options-color: rgb(145, 1, 167);
}

body {
  margin: 0;
}

/* body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

#appMainSection {
  background: var(--Red-background-color) no-repeat center fixed !important;
  background-size: cover !important;
  min-height: 60vw !important;
}

#footerContainer {
  background: inherit;
}
